.syte {
    width: 70%;
    height: 200px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 63px 16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 63px 16px rgba(0,0,0,0.75);
box-shadow: 0px 3px 63px 16px rgba(0,0,0,0.75);
}
body {
    background-color: blanchedalmond;
}
.first{
    display:flex;
    
    
}
.second {
    color: red;
    display: flex;
    

}
.hr-dashed {
	margin: 10px;
	padding: 0;
    width: 50px;
	height: 2;
	border: none;
	border-top: 2px dashed greenyellow;
}
